<h2 class="h2 text-center text-warning">Analog Clock</h2>
<div class="clock d-flex justify-content-center">
    <div class="clock__second" data-second-hand></div>
    <div class="clock__minute" data-minute-hand></div>
    <div class="clock__hour" data-hour-hand></div>
    <div class="clock__axis"></div>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
      <section class="clock__indicator"></section>
  </div>

